/Builds/LinuxMakefile/build
/CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
Warmer
Warmer.jucer
/.vscode
/.idea
/cmake-build-debug
/Debug
/Release
/Testing
/.cmake
/cmake-build-release/
./Testing/
/.cache
./compile_commands.json
./JuceLibraryCodeStandalone
./Pamplejuce_artefacts/
./cmake/
./juce_binarydata_Assets/
./Warmer_artefacts
